* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(45deg, #2d146c 50%, #8758ff 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
  /* height: 100%; */
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #1a1a40;
  /* background: #442238; */

  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 5px 5px 0px #1a1a40;
  /* width: 50rem; */
}

.TodoForm {
  width: 100%;
  /* border-radius: 1rem; */
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
  border-radius: 0.3rem 0 0 0.3rem;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  border-radius: 0 0.3rem 0.3rem 0;

  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  /* background: #102707; */
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}
.Todo p {
  width: 80%;
  text-align: initial;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
}
